{% extends 'Base.html' %}
{% load static %}
{% block main %}

<section class="py-5">
    {% for object in product %}
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{object.image.url}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{object.name}}</h1>
                <div class="fs-5 mb-5">
                    {% if object.disc_price %}
                    <span class="text-decoration-line-through"> {{object.price}}</span>

                    <span>{{object.disc_price}}</span>
                    {% else %}

                    <span>{{object.price}}</span>
                    {% endif %}
                </div>
                <p class="lead">{{object.description}}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                        style="max-width: 3rem" />
                    <form action="{% url 'cart' object.name %}" method='post'>
                        {% csrf_token %}
                        <button class="btn btn-outline-dark flex-shrink-0" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}